/*

	Header Styling

*/

body {  
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* --------- */
/*  nav_bar  */
/* --------- */
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

/* --------- */
/* FoIA_Page */
/* --------- */

.FoIA_info {
	padding-left: 20px;
	padding-bottom: 40px;
	width: 80%;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
	font-weight: bold;
    background-color: #157E8A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

input[type=submit]:hover {
    background-color: #0AD1FB;
}

textarea {
	width: 90%;
	height: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_area {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
}

.form_region {
	vertical-align: top;
	width: 40%;
	display: inline-block;
    padding: 20px;
}

.submit_area {
	padding-top: 18;
	padding-bottom: 50;
	text-align: center;
}

#home_nav {
	float: left;
	color: #f2f2f2;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
}




/*

	search_page Styling

*/

.search_region{

	display: inline-block;


}


#search_box_entry{

	float: left;
	width: 225px;
	margin: 25px;
}



#drop_down{
	float: right;
	width: 150px;
	margin: 25px;
}

a.search_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}



.search_button a{
	text-decoration: none;
}





.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/*

	results_page Styling

*/

.results_table {
	width: 90%;
	padding-left: 25px;
}

#initial_results {
	width: 100%;
	border-collapse: collapse;
}

#initial_results td, #initial_results th {
	border: 1px solid black;
	padding: 5px;
}

#initial_results tr:nth-child(even) {background-color: #f2f2f2;}
#initial_results tr:hover {background-color: #ddd;}

#initial_results th {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

.back-to-results {
	padding-top: 10px;
}
.result-information {
	padding-left: 25px;
}





/*

	home_page Styling

*/
.main{
  margin-left: auto;

}

.about {
  display: inline-block;
  width: 80%;
  /*height: 80%;*/
  padding: 5%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #999;
  border-radius: 30px;
  opacity: 0.5;
  /*text-decoration: none;*/
}

#ptag{
  text-decoration-color: red; 
  opacity: 1;
}

.buttons {
  display: inline-block;
  width: 20%;
  /*height: 10%;*/
  border-radius: 10px;
  background-color: lightblue;
  margin-top: 5%;
  text-align: center ; 
  margin-left: 10%;
  line-height: 300%;
  /*font-size: 30px;*/
  justify-content: space-between;
}

.buttons a {
  text-decoration: none;
}

/*

	stats Styling

*/
