/*

	Header Styling

*/

body {
	margin: 0;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 200;

}

body {
	background-image: url("image/chi.jpg");
	background-repeat: no-repeat;
	background-position: 50% 30%;
    background-size: 600px 400px;;
}

#page_title {
	font-size: 50;
	margin: 20px 10px;
}

#page_body {
	padding-top: 20;
	padding-left: 15;
	width: 80%;
	margin: auto;
}


/*

	nav-bar styling

*/
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

/*

	footer styling

*/


.footer-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 40;
	width: 100%;
	height: 10;
	padding-top: -80;
	padding-bottom: 70; 
	text-align: center;
	color: #f2f2f2;
	background-color: #333;
	margin-top: 70px;
	text-decoration-color: white;
}

.footer-text {
	padding-top: 10;
}

/*

	home_page Styling

*/

.title-area {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	font-size: 60;
	padding-left: 70;
	padding-top: 30;
	
}

.title-logo {
	display: inline;
	width: 75px;
	height: 76px;
	margin: 5px auto;
}

.title-text {
	display: inline;
	line-height: 100%;
}

.about {
	display: inline-block;
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-top: 5%;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.button-wrapper {
	padding-top: 70;
	display: inline;
	float: right;
	width: 40%;
}

.buttons {
	text-decoration: none;
	width: 275;
	height: 150;
	line-height: 0;
	border-radius: 10px;
	background-color: lightblue;
	margin-top: 2%;
	text-align: center ;
	margin-left: 10%;
	line-height: 300%;
	justify-content: space-between;
}

.buttons:hover {
	font-weight: bold;
	
}

#button-link {
	text-decoration: none;
}

#button-text {
	display: inline;
	line-height: 1;
}



/*

	FoIA page styling

*/
.FoIA_info {
	padding-left: 20px;
	padding-bottom: 40px;
	width: 80%;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
	font-weight: bold;
    background-color: #157E8A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

input[type=submit]:hover {
    background-color: #0AD1FB;
}

textarea {
	width: 90%;
	height: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_area {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.form_region {
	vertical-align: top;
	width: 40%;
	display: inline-block;
    padding: 20px;
}

.submit_area {
	padding-top: 50;
	padding-bottom: 50;
	text-align: center;
}

.submit_button {
    width: 35%;
	text-decoration: none;
	font-weight: bold;
    background-color: #157E8A;
    color: white;
    padding: 14px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

.submit_button:hover {
    background-color: #0AD1FB;
}

#home_nav {
	float: left;
	color: #f2f2f2;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
}

#confirm_text {
	text-align: center;
	padding-top:  50;
}


/*

	search_page Styling

*/

.search_region{
	display: inline-block;
}


#search_box_entry{

	float: left;
	width: 225px;
	margin: 25px;
  height: 50px;
}



#drop_down{
	float: right;
	width: 250px;
	margin: 18px 25px;
}

a.search_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}



.search_button a{
	text-decoration: none;
}





.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/*

	results_page Styling

*/

.results_table {
	width: 90%;
	padding-left: 25px;
}

#initial_results {
	width: 100%;
	border-collapse: collapse;
}

#initial_results td {
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
}

#initial_results th {
	border: 1px solid black;
	padding: 5px;
}

#initial_results tr:nth-child(even) {background-color: #f2f2f2;}
#initial_results tr:nth-child(odd) {background-color: #e2e2e2;}
#initial_results tr:hover {background-color: #ddd;}

#initial_results th {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

.back-to-results {
	padding-top: 10px;
}
.result-information {
	padding-left: 25px;
}




/*

	stats Styling

*/
