/*

	Header Styling

*/

body {
	margin: 0;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 200;
  background: linear-gradient(to bottom right, #033249, #0996dc);
	/*background-repeat: no-repeat;*/
	/*background-position: 50% 30%;*/
    /*background-size: 600px 400px;;*/

}

#page_title {
	font-size: 50;
	margin: 20px 10px;
  color: white;
}

#page_body {
	padding-top: 20;
	padding-left: 15;
	width: 80%;
	margin: auto;
  color: white;
}


/*

	nav-bar styling

*/
.topnav {
	overflow: hidden;
	background-color: #333;
	text-decoration: none;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

#header_background{
	background-color: #DC0028;
}

/*

	footer styling

*/


.footer-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10;
	padding-bottom: 70;
	text-align: center;
	color: #f2f2f2;
	background-color: #333;
	text-decoration-color: white;
}

.footer-text {
	padding-top: 10;
}

/*

	home_page Styling

*/

.title-area {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;
	float: left;
	font-size: 60;
	padding-left: 70;
	padding-top: 30;
}

.title-logo {
	display: inline;
	width: 75px;
	height: 76px;
	margin: 5px auto;
}

.title-text {
	display: inline;
  color: white;
	line-height: 100%;
  text-shadow: 20px;
  /*text-decoration-color: white;*/
}

.about {
	display: inline-block;
	float: left;
	width: 50%;
	margin-left: 5%;
	margin-top: 60;
	box-shadow: 10px 10px 100px #333;
	border-radius: 5px;
  background-color: white;
  opacity: 0.9;
}

#about-text {
	margin-left: 5%;
	margin-right: 5%;
}

.button-wrapper {
	padding-top: 45;
	display: inline;
	float: right;
	width: 40%;
}

.buttons {
	text-decoration: none;
	width: 275;
	height: 150;
	color: white;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
  background-color: #ff1a1a;
	text-align: center;
	margin-left: 10%;
	line-height: 300%;
	justify-content: space-between;
  box-shadow: 20px 20px 50px #111;
  filter:grayscale(100%);

}

#access_rec{
	background-image: url("image/access_rec.png");
	background-position: center;
	background-size: 150px 150px;
	text-decoration: none;
}

#view_stats{
	background-image: url("image/view_stats.png");
	background-position: center;
	background-size: 150px 150px;
	text-decoration: none;
}

#file_req{
	background-image: url("image/file_req.png");
	background-position: center;
	background-size: 150px 150px;
	text-decoration: none;
}


.buttons:hover {
	font-weight: bold;
	background-color: #550000;
	box-shadow: 0 0 7px #ccc;

}

#button-link {
	text-decoration: none;
}

#button-text {
	display: inline;
	line-height: 1;
}

.bottom-space {
	display: inline-block;
	width: 90%;
	height: 0;
}



/*

	FoIA page styling

*/
.FoIA_info {
	padding-left: 20px;
	padding-bottom: 40px;
	width: 80%;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
	font-weight: bold;
    background-color: #157E8A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

input[type=submit]:hover {
    background-color: #0AD1FB;
}

textarea {
	width: 90%;
	height: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_area {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.form_region {
	vertical-align: top;
	width: 40%;
	display: inline-block;
    padding: 20px;
}

.submit_area {
	padding-top: 50;
	padding-bottom: 20;
	text-align: center;
}

.submit_button {
    width: 35%;
	text-decoration: none;
	font-weight: bold;
    background-color: #157E8A;
    color: white;
    padding: 14px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

.submit_button:hover {
    background-color: #0AD1FB;
}

#home_nav {
	float: left;
	color: #f2f2f2;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	text-decoration: none;
}

#confirm_text {
	text-align: center;
	padding-top:  50;
}


/*

	search_page Styling

*/

.search_region{
	display: inline-block;

}


#search_box_entry{
	float: left;
	width: 225px;
	margin: 25px;
	height: 40px;
}


#drop_down{
	float: right;
	width: 250px;
	margin: 18px 25px;
}

#add_and_search{
	margin: 30px;
}


/*

	results_page Styling

*/

.search-title {
	width: 90%;
	margin: auto;
}

.results_table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#initial_results {
	width: 100%;
	border-collapse: collapse;
}

#initial_results td {
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
}

#initial_results th {
	border: 1px solid black;
	padding: 5px;
}

#initial_results tr:nth-child(even) {background-color: #f2f2f2;}
#initial_results tr:nth-child(odd) {background-color: #e2e2e2;}
#initial_results tr:hover {background-color: #ddd;}

#initial_results th {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

#back-text {
	color: white;
	text-align: center;
}

.back-to-results {
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
    background-color: #157E8A;
	padding: 5 8 5 8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;

}

.back-to-results:hover {
    background-color: #0AD1FB;

}

.result-title {
	padding-left: 40px;
	width: 50%;
}



.result-title h1 {
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0.5;
	font-size: 45;

}


.subinfo {
	font-size: 85%;
	line-height: 0.3;
	color: white;
}

.total-incidents {
	padding-top: 15px;
	padding-bottom: 10px;
	color: white;
}

.result-incidents {
	display: inline-block;
	float: left;
	margin: 2.5%;
	line-height: 1;
	padding-left: 15px;
	width: 40%;
	padding-bottom: 20px;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.result-incidents h4 {
	font-size: 20;
}

.comment-section {
	display: inline-block;
	float: right;
	margin: 2.5%;
	line-height: 1;
	padding-left: 15px;
	padding-right: 15;
	width: 40%;
	padding-bottom: 20px;
	box-shadow: 0 0 4px #ccc;
	border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.comment-section h4 {
	font-size: 20;
}

#username {
	display: inline;
	font-weight: bold;
}

#comment-text {
	display:inline;
}

#submitted-username {
	display: inline;
	font-weight: bold;
}

#submitted-comment-text {
	display:inline;
}

.comment {
	display: block;
	padding-bottom: 10;
	padding-left: 10;
}

.add-comment {
	padding-top: 20;
}

.submit-comment {
	text-decoration: none;
	color: white;
	font-weight: bold;
    background-color: #157E8A;
	padding: 5 8 5 8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align: center;
}

.submit-comment:hover {
	background-color: #0AD1FB;
}

.view_incidents_button {
	width: 15%;
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
    background-color: #157E8A;
    color: white;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

.view_incidents_button:hover {
    background-color: #0AD1FB;
}

#back_button {
	width: 30%;
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
    background-color: #157E8A;
    color: white;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

#back_button:hover {
    background-color: #0AD1FB;
}


.latest-incident p {
	line-height: 1;
}

/*  Incidents Results styling  */

.incidents-table {
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 20px;
}

#incident-results {
	width: 100%;
	border-collapse: collapse;
}

#incident-results td {
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
}

#incident-results th {
	border: 1px solid black;
	padding: 5px;
}

#incident-results tr:nth-child(even) {background-color: #f2f2f2;}
#incident-results tr:nth-child(odd) {background-color: #e2e2e2;}
#incident-results tr:hover {background-color: #ddd;}

#incident-results th {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

/*

	stats Styling

*/

.wrapper-even {
	width: 100%;
	height: 400;

}

.wrapper-odd {
	width: 100%;
	height: 400;
	background-color: #f2f2f2;
    opacity: 0.9;
}

#visualization-title {
	padding-top: 20;
	text-align: center;
}

.chart{
  display: inline-block;
  float: left;
  width: 40%;
  margin-left: auto;
  /*background-color: grey;*/
}

.chart-text{
  display: inline-flex;
  text-align: justify;
  padding-right: 60;
  width: 40%;
  float: right;
  font-size: 22px;
  /*margin-top: auto;*/
  /*vertical-align: middle;*/

}


.tile {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  display: block;
  box-shadow: 5px 10px 50px #333;
  background-color: #eee  ;
}

.intro-text p{
  padding: 50px;
  margin-left: 50px;
  color: white;
  font-size: 22px;

}

#stats_hr{
  width: 80%;
  margin-left: 100px;
}

hr{
  width: 80%;
}